.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #1a1a2e;
}

.nav-bar-links,
.links-log {
  display: flex;
  font-size: 25px;
  gap: 150px;
  color: white;
}

.link1:hover,
.link2:hover,
.link3:hover,
.link4:hover {
  transform: scale(1.05);
}

.links-log {
  display: flex;
}