.calendar-page {
  margin-bottom: 30px;
}

.fc {
  position: relative;
  z-index: 1;
  cursor: crosshair
}

.fc .fc-daygrid-day-events {
  max-height: 130px;
  overflow-y: auto;
}

.fc .fc-daygrid-event {
  white-space: normal;
  word-wrap: break-word;
}

.events {
  cursor: pointer;
}